@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/product-card';
@import './components/personal';
@import './components/auth';

//main {
//    background: #f6f7f8;
//}

html {
    scroll-behavior: smooth;
}

main {
    background-image: radial-gradient(circle at top, #fff, #FFE4DA 100%);
}

.dark main {
    background-image: radial-gradient(circle at top, #412ea5, #1f2937, #111827 100%);
}
