.personal-nav-card {
    @apply p-5 pe-20 flex rounded-lg bg-light dark:bg-dark h-32 w-full shadow-md;

    overflow: hidden;
    position: relative;

    &__title {
        @apply text-lg;

        margin: 0;
        position: relative;
    }

    &__icon {
        @apply w-12 h-12;

        position: absolute;
        right: 9px;
        bottom: 11px;
    }

    &:before {
        @apply bg-light-hover/50 w-28;

        content: "";
        position: absolute;
        right: -32px;
        bottom: -32px;
        border-radius: 50%;
        -webkit-box-shadow: .375em .375em 0 0 rgba(15, 28, 63, .125);
        box-shadow: .375em .375em 0 0 rgba(15, 28, 63, .125);
        aspect-ratio: 1/1;
        -webkit-transition: .9s;
        -o-transition: .9s;
        transition: .9s
    }

    &:hover:before {
        right: -50%;
        bottom: -50%;
        width: 200%
    }
}
